---
import Layout from "../layouts/Layout.astro";
import { ENV } from "varlock/env";
import EnvTest from "../components/env-test.astro";
import ClientTest from "../components/client-test.vue";

console.log("log sensitive item: ", ENV.SECRET_FOO);

// export const prerender = true;
---

<Layout>
  <h2>Varlock + Astro Example</h2>
  <EnvTest />

  <h2>Server rendered vue component</h2>
  <ClientTest />

  <h2>Client rendered (client:load)</h2>
  <!-- <ClientTest client:load /> -->
</Layout>
